

<h1>keep it up</h1>
oldRating
<% for(var i=0;i<len;i++){ %>
<h1><%= parsedata["result"][i]["contestName"] %></h1>
<h1><%= parsedata["result"][i]["oldRating"] %></h1>
<h1><%= parsedata["result"][i]["newRating"] %></h1>
<% } %>